#content {
    width: 500px;
    height: 300px;
    margin: 0 0 20px 0;
    border: solid 1px #999;
    overflow-y: scroll;
    padding: 10px 0 0 10px;
}

#send_form .message {
    width: 400px;
}

#send_form .send {
    width: 90px;
    margin-left: 15px;
}

.server-msg {
    font-style: italic;
    color: #1515F0;
}

.private-msg {
    font-style: italic;
    color: #555;
}

.server-err {
    font-style: italic;
    color: #df0000;
}

#login_form {
    width: 99%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: rgba(155, 155, 155, 0.8);
    text-align: center;
}

#login_form form {
    margin-top: 20%;
}