extends layout

block append head
    script(src="/game_core.js")

block content
    table.field
        tr
            td
            td
            td

        tr
            td
            td
            td

        tr
            td
            td
            td