!!!
html
    head
        title
            |TicTacToe

        block head
            link(rel="stylesheet", href="/game.css")

            script(src='/socket.io/socket.io.js')

    body
        block content