!!!
html
    head
        title
            |Chat

        link(rel="stylesheet", href="/chat.css")

        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')

    body
        //#login_form
            form(action="#", method="post")
                input.username
                input(type="submit", value="login")
        #content
        .controls
            form#send_form(action='#', method='post')
                input.message(autofocus=true)
                input.send(type='submit', value='send')
        .help
            table
                thead
                    tr
                        td
                            |Command
                        td
                            |Effect
                tbody
                    tr
                        td
                            |/join <b>name</b>
                        td
                            |Join the chat
                    tr
                        td
                            |/list
                        td
                            |See who's online
                    tr
                        td
                            |@<b>name</b> <em>message</em>
                        td
                            |Send a private message