!!!
html
    head
        title= "Chat"

        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')

    body
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            form#send_form(action='#', method='post')
                input.message(style='width:350px;')
                input.send(type='button', value='send')
